# Simulation outputs
*.raw
*.log
*.out
*.mt0
*.measure
*.tr0
*.ac0
*.sw0
*.noise

# Xschem
*.sch~
*.sym~
xschem_autosave*

# Magic
*.ext
*.mag~
*.drc
*.lvs

# Netlists
*.spice
*.sp
*.cir

# OS clutter
.DS_Store
Thumbs.db
